  <copilot-chat-view class="block h-full" [messages]="messages()" [autoScroll]="true" [showCursor]="isSubmitting()">

    <ng-template #customLayout>

      <div class="flex h-full flex-col">

        <div class="flex-1 px-6 sm:px-0 mb-14">
            <copilot-chat-message-view [messages]="messages()" [showCursor]="isSubmitting()" [isLoading]="isSubmitting()" />

            @if (interrupt(); as approval) {

              <div class="mx-auto w-fit max-w-3xl px-4 pb-4">

                <div class="mx-auto rounded-lg border border-amber-300 bg-amber-50 p-6">

                  <div class="font-semibold">
                    Human Approval Required
                  </div>

                  <p class="mt-2 text-sm">
                    {{ approval.reason.message }}
                  </p>

                  @if (approval.reason.paths?.length) {

                    <ul class="mt-3 list-disc pl-5 text-sm">

                      @for (path of approval.reason.paths; track path) {
                        <li>{{ path }}</li>
                      }

                    </ul>

                  }

                  <div class="mt-4 flex justify-center  gap-2">

                    <button type="button" class="rounded bg-green-600 px-4 py-2 text-sm text-white"
                      [disabled]="isSubmitting()"
                      (click)="approve()">
                      Approve
                    </button>

                    <button type="button" class="rounded bg-red-600 px-4 py-2 text-sm text-white"
                            [disabled]="isSubmitting()"
                            (click)="reject()">
                      Reject
                    </button>

                  </div>

                </div>

              </div>

            }

        </div>

        <div class="sticky bottom-6 shrink-0 border-gray-200 mb-6 px-4 sm:px-0">
            <copilot-chat-input
              inputClass="w-full rounded-xl border border-gray-300"
              textAreaClass="w-full resize-none px-3 py-2 outline-none"/>

                <div class="mt-3 text-center text-xs text-gray-500">
                  AI can make mistakes. Please verify important information.

                  <span class="ml-1.5">
                    <button type="button" class="btn-primary py-1! px-2! text-[12px]!" [disabled]="isSubmitting()" (click)="newChat()">
                      New Chat
                    </button>
                  </span>
              </div>
        </div>

      </div>

    </ng-template>

  </copilot-chat-view>
